
<div class="container">
  <h2 class="welcome"><strong>Welcome to the dashboard!</strong></h2>
  <br>
  <br>
  <div class="d-flex">
    <div class="bookings px-2">
      <h3>Your bookings (renter)</h3>
      <% if @my_bookings.empty? %>
        <h5>You have no bookings.</h5>
      <% else %>
        <% @my_bookings.each do |booking|%>
          <div class="card-product">
          <%= image_tag(booking.car.car_image, class:"img-box-card") %>
            <div class="d-flex p-2 flex-grow-1 justify-content-between card-product-infos">
              <div class="pr-4">
                <p><strong>Brand: </strong><%=booking.car.brand%></p>
                <p><strong>Model: </strong><%=booking.car.car_type%></p>
                <p><strong>Description: </strong><%=booking.car.description%></p>
                <p><strong>Location: </strong><%=booking.car.location%></p>
                <p><strong>Price:</strong> $<%=number_with_delimiter(booking.car.price)%></p>
              </div>
              <div>
                <p><strong>Start Date: </strong><%=booking.start_on.strftime("%B %d, %Y")%></p>
                <p><strong>End Date: </strong><%=booking.end_on.strftime("%B %d, %Y")%></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div>
      <div class="bookings">
        <h3>Your bookings (owner)</h3>
          <% if current_user.cars.empty? %>
            <h5>You have no cars listed.</h5>
          <% else %>
          <% current_user.cars.each do |car|%>
            <% if car.bookings.size > 0 %>
              <div class="card-product">
              <% if car.car_image %>
                <%= image_tag car.car_image %>
              <% elsif car.photo.attached? %>
                <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <%= image_tag "no-image.jpeg" %>
              <% end %>
                <div class="d-flex p-2 flex-grow-1 justify-content-between card-product-infos">
                  <div class="pr-4">
                    <p><strong>Brand: </strong><%= car.brand %></p>
                    <p><strong>Price: </strong>$<%=number_with_delimiter(car.price)%></p>
                  </div>
                  <div>
                    <% car.bookings.each do |booking| %>
                      <p><strong>Start Date: </strong><%=booking.start_on.strftime("%B %d, %Y")%></p>
                      <p><strong>End Date: </strong><%=booking.end_on.strftime("%B %d, %Y")%></p>
                    <% end %>
                  </div>
                </div>
              </div>
              <br>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="bookings">
      <h3>Your cars (owner)</h3>
        <% if current_user.cars.empty? %>
            <h5>You have no cars listed.</h5>
        <% else %>
        <% current_user.cars.each do |car|%>
          <div class="card-product">
          <% if car.car_image %>
            <%= image_tag car.car_image %>
          <% elsif car.photo.attached? %>
            <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag "no-image.jpeg" %>
          <% end %>
            <div class="d-flex p-2 flex-grow-1 justify-content-between card-product-infos">
              <div class="pr-4">
                <p><strong>Brand: </strong><%= car.brand %></p>
                <p><strong>Model: </strong><%= car.car_type %></p>
                <p><strong>Description: </strong><%= car.description%></p>
                <p><strong>Location: </strong><%= car.location %></p>
                <p><strong>Price: </strong>$<%=number_with_delimiter(car.price)%></p>
              </div>
            </div>
          </div>
          <br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


</div>
