<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Which brand are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>

<div class="conatiner">
  <div class="container-brandcard mt-5">
    <div class="d-flex justify-content-between flex-wrap" style="padding-top: 85px;">
      <% @cars.each do |car| %>
        <div class="card">
            <% if car.car_image %>
              <%= image_tag car.car_image %>
            <% elsif car.photo.attached? %>
              <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <%= image_tag "no-image.jpg" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to car.brand, car_path(car) %></h5>
              <p class="card-text"><%= car.car_type %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
