<h1>Add a new car:</h1>
<div class="container">
  <%= simple_form_for @car do |f|  %>
    <%= f.input :brand %>
    <%= f.input :car_type %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.submit %>
  <% end %>
</div>
