<p><%= @car.brand %></p>
<p><%= @car.car_type %></p>
<p><%= @car.description %></p>
<p><%= @car.location %></p>
<p><%= @car.price %></p>
<div class = "button-container d-flex justify-content-center">
  <button type="button" class="btn btn-success"><%= link_to "Back to all Cars", cars_path %></button>
  <button type="button" class="btn btn-success"><%= link_to "Add Booking", new_car_booking_path(@car) %></button>
  <button type="button" class="btn btn-success"><%= link_to "Update Booking", edit_booking_path %></button>
</div>
