<div class="container mt-5">
  <div class="d-flex justify-content-between flex-wrap" style="padding-top: 85px;">
      <div class="card card-extra-height-again card-custom">
        <% if @car.car_image %>
          <%= image_tag @car.car_image, height: 300, width: 400, crop: :fill, class: "card-img-top", style:"height: 14rem; width: 298px;" %>
        <% elsif @car.photo.attached? %>
          <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top", style:"height: 14rem; width: 298px;" %>
        <% else %>
          <%= image_tag "no-image.jpeg" , height: 300, width: 400, crop: :fill, class: "card-img-top", style:"height: 14rem; width: 298px;" %>
        <% end %>
        <div class="card-body ">
          <h5 class="card-title"><%= @car.brand %></h5>
          <p class="card-text">
            <%= @car.description %>
            <%= @car.location %>
            <%= @car.price %>
            <div class="d-flex justify-content-center">
              <button type="button" id="button"><%= link_to "Rent me", new_car_booking_path(@car) %></button>
            </div>
          </p>
        </div>
      </div>
  </div>
</div>
