<div class="container mt-5">
  <div class="d-flex justify-content-between flex-wrap" style="padding-top: 85px;">
      <div class="card card-custom">
        <% if @car.car_image %>
          <%= image_tag @car.car_image %>
        <% elsif @car.photo.attached? %>
          <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag "no-image.jpeg"  %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to @car.brand, car_path(@car) %></h5>
          <p class="card-text">
            <%= @car.description %>
            <%= @car.location %>
            <%= @car.price %>
            <button type="button" id="button"><%= link_to "Back to all Cars", cars_path %></button>
            <button type="button" id="button"><%= link_to "Add Booking", new_car_booking_path(@car) %></button>
            <button type="button" id="button"><%= link_to "Update Booking", edit_booking_path %></button>
          </p>
        </div>
      </div>
  </div>
</div>
