<p><%= @car.brand %></p>
<p><%= @car.car_type %></p>
<p><%= @car.description %></p>
<p><%= @car.location %></p>
<p><%= @car.price %></p>
<%= link_to "Add a car", new_car_path(@car) %>
<%= link_to "Back to all Cars", cars_path %>
<%= link_to "Add Booking", new_car_booking_path(@car) %>
<%= link_to "Update Booking", edit_booking_path %>
